.results {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    display:flex;
    justify-content: center;
}

.rightAnswer {
    border:1px solid black;
    height: 500px;
    text-align: center;
    width: 500px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
}

.respostaCorreta {
    color:green;
}

.wrongAnswer {
    border:1px solid black;
    width: 500px;
    height: 500px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
} 
.respostaErrada {
    color:red;
}


.question {
    background-color: darkgray;
    text-align: center;
}